<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />	
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<!-- <script src="/javascripts/hello.js"></script> -->
		<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
		<script src='/javascripts/examples.js'></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	</head>
	<body>
		<div id="body-container">
			<div id="body-wrap">
				<div>
					<h1>Club Cool</h1>  
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link active" href="/">Home</a>
						</li>	   
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li> 
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
					</ul>
				</div>
				<!--	
	    			<div class='container'>
					<button id='button1' type='button' class='btn btn-primary'>Primary</button>
					<p>Hide This text!</p>
				</div>
				-->
				{{{body}}}
			</div>
			<br>
			<div id="foot" class="container-fluid float-left">
				<footer>
	    				<h6 class="footer-text">Fake Club made by Taidgh Murray for CT870
						<span class="tab"><a href="http://ww2.it.nuigalway.ie" target='_blank'>NUIG IT</a></span>
						<span class="tab"><a href="http://webmail.nuigalway.ie" target='_blank'>NUIG Webmail</a></span>	
						<span class="tab"><a href="http://www.taidghmurray.ie" target='_blank'>My personal website</a></span>
						<span class="tab"><a href="https://www.google.ie" target='_blank'>Google</a></span>
						<span class="tab"><a href="https://r.sine.com" target='_blank'>Random photo every time you click (Click at your own risk)</a></span>
	   				</h6>		
				</footer>
			</div>
		</div>
	</body>  
</html>
